<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phrase and Audio Player</title>
</head>
<body>
    <h1>Music Generation from keywords like genre, tempo, music instruments etc. </h1>
    <form method="POST" action="/submit">
        <label for="phrase">Enter a phrase or keyword:</label>
        <input type="text" id="phrase" name="phrase" required>
        <button type="submit">Submit</button>
    </form>
    {% if submitted_phrase %}
    <p>Entered phrase or keyword: {{ submitted_phrase }}</p>
    <p> Generated Music</p>
    {% endif %}
    {% if audio_url %}
    <audio controls>
        <source src="{{ audio_url }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    {% endif %}
</body>
</html>
